*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    color: grey;
    padding-left: 400px;
}

#container{
    background-color: none;
    border: none;
    height: 200px;
    width: 700px;
    margin: 0 auto;
}

#new-task input{
    width: 600px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#new-task input:focus {
    outline: none;

}

#new-task input::placeholder{
    letter-spacing: 2px;
    word-spacing: 3px;
    padding-left: 30px;
}

#add-task{
    background-color: rgb(92, 92, 252);
    border: none;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    
}

#task-list{
    padding: 10px 0 0 0;
    margin: 0;
    width: 600px;
}

ul li{
    cursor: pointer;
    list-style: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent;
    border: 1px grey solid;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

ul li:hover{
    background-color: rgb(92, 92, 252);
   
}

#action-buttons #check-task-item, #delete-tasks, #save-task{
    background-color: rgb(92, 92, 252);
    border: none;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;

}

#container .completed {
    text-decoration: line-through;
    color: #e50808;
}


